<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Camera1" type="AXIS_CAMERA.CameraConfig,Axis"/>
		<section name="Camera2" type="AXIS_CAMERA.CameraConfig,Axis"/>
	</configSections>

	<Camera1 IP_Address="10.0.0.71" Port="37777" UserName="admin" Password="Aa123456"/>
	<Camera2 IP_Address="10.0.0.70" Port="37777" UserName="admin" Password="Aa123456"/>

	<appSettings>
		<add key="Trace" value="Y"/>
		<add key="AddStackTrace" value="Y"/>
		<add key="WithMiliSeconds" value="Y"/>
		<add key="ShowForm" value="Y"/>
		<add key="Gate" value="1"/>
		<!--Manual Y = vmd off-->
		<add key="Manual" value="N"/>
		<!--In MiliSeconds-->
		<add key="ConnectionTestInterval" value="5000"/>
	</appSettings>
</configuration>